<% provide(:title, "Home") %>

<div class = "container">
  <div class = "center jumbotron">
   <h2> Hey Friends, and Hello World</h2>
      <p> This site is currently under construction...more to come after Fall Exams! For now, have fun pretending to help me build it! </p>
      <a href="" class="btn btn-success"> <span class = "glyphicon glyphicon-wrench"></span> ok! </a>
      <a href="" class="btn btn-primary"> Cool!  <span class = "glyphicon glyphicon-briefcase"></span> </a>

  </div>
</div>