<% provide(:title, "KnowledgeaBus") %>

<div class = "container">
  <div class = "center jumbotron">
    <h1>Coming Soon!</h1>
    <p> This will soon direct you to my newest project, called Knowledgeabus (Like, knowledgable.. but with bus instead). </p>

    <p>	Created as a final project for SEG2105, by Emilie and Zeyad (last names omitted for privacy reasons.)</p>

    <div class="btn btn-success">
      <%= link_to "I'll be back soon!", root_path, id: "logo" %>
    </div>

  </div>
</div>