<header class = "navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <%= link_to "ecobbold.me", root_path, id: "logo" %>
    <nav>
          <button type="button" class = "navbar-toggle" data-toggle = "collapse" data-target = ".navbar-collapse">
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>

        </button>
      <div class = "collapse navbar-collapse navHeaderCollapse">

        <ul class = "nav navbar-nav navbar-right">
          <li><%= link_to "Home",   root_path %></li>
          <li><%= link_to "Help",   help_path %></li>
          <li><%= link_to "Knowledgeabus",      kbus_path %></li>

        </ul>

      </div>



     </nav>


  </div>
</header>